@page "/"

@using p9_C00231110_C00439696.Models
@using Microsoft.AspNetCore.Components
@inject p9_C00231110_C00439696.Data.HouseHoldContext _context

@code{

    private HouseHold household = new HouseHold();

    private async void HandleValidSubmit()
    {
        try
        {
            _context.Add(household);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        household = new HouseHold();
        base.StateHasChanged();
    }
}


<div class="household-form">
    <EditForm Model=@household OnValidSubmit=@HandleValidSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        <div class="form-group">
            <label for ="Item">Item</label>
            <InputText id ="Item" class="form-control" @bind-Value= "household.Item" />
        </div>

        <div class="form-group">
            <label for ="Location">Location</label>
            <InputText id ="Location" class="form-control" @bind-Value= "household.Location" />
        </div>
        
        <div class="form-group">
            <label for ="Value">Value</label>
            <InputText id ="Value" class="form-control" @bind-Value= "household.Value" />
        </div>
        
        <button class ="btn btn-primary" type="submit">Create HouseHold Item</button>
    </EditForm>
</div>